<div class="dashboard-page">
    <nav>
        <a href="#"><img class="logo" src="/assets/images/logo-color.svg"></a>
        <div class="nav-item">

        </div>
        <div class="nav-item">

        </div>
        <div class="nav-item">

        </div>
    </nav>
    <div class="menu">
        <div class="menu-item" >Payment</div>
        <div class="menu-item" >Plans</div>
        <div class="menu-item" >Account</div>
    </div>
    <div ui-view="dashboard_section" class="dashboard-section"></div>
</div>
